<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <hr>
    {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate autocomplete="off">
      {{ form.hidden_tag() }}
      <p>
        {{ form.task.label }}<br>
        {{ form.task(autocomplete = "off") }}
        {% for error in form.task.errors %}
          <span style=" color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.deadline.label }}<br>
        {{ form.deadline }}
        {% for error in form.deadline.errors %}
          <span style=" color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.submit() }}
      </p>
    </form>
  </body>
</html>
